<header class="site-header">
  <a class="site-title" href="/">Jason Powley</a>
  <nav>
    <a href="/blog/index.html">Blog</a>
    <a href="/beer/index.html">Beer</a>
    <a href="/about/index.html">About</a>
  </nav>
</header>
