@{
    Layout = "default";
    Title = "FsBlog";
    Description = "A blog aware static site generator in mostly F#";
}

@RenderPart("tagline")

<img src="img/hero.jpg" alt="hero image"/>

<p>I think the graphic above sums me up pretty well. Created by my wife, <a href="https://erinpowley.com>Erin Powley</a>, it captures all of my top interests:
coding, family, coffee, beer, travels, and Star Wars.</p>

