<footer class="site-footer">
  <ul>
      <li><i class="far fa-envelope"></i>Email me: <a href="mailto:jason@jasonpowley.com">jason@@jasonpowley.com</a></li>
      <li><i class="fab fa-github"></i>Github: <a href="https://github.com/jaypowley">jaypowley</a></li>
      <li><i class="fab fa-linkedin-in"></i>LinkedIn: <a href="https://www.linkedin.com/in/jasonpowley/">jasonpowley</a></li>
      <li><i class="fab fa-twitter"></i>Twitter: <a href="https://twitter.com/jaypowley">@@jaypowley</a></li>
      <li><i class="fab fa-instagram"></i>Instagram: <a href="https://www.instagram.com/jaypowley1/">jaypowley1</a></li>
      <li><i class="fab fa-untappd"></i>Untappd: <a href="https://untappd.com/user/jpowley">jpowley</a></li>
  </ul>
</footer>