@{
    Layout = "default";
    Title = "Blog";
    Description = "A blog about life, the universe, and everything.";
}
@using System.Linq

<p>Welcome to my beer diary.</p>

<p>These are posts of the beers I've tried and either the descriptions of them directly from the brewery, Tavour, or my personal tastes. 
Sadly, these will be posted nearly daily, or until I run low on funds or my wife decides I need to cut back.😂</p>

<ul class="post-list">
@foreach (var post in Model.Posts)
{
    <li>
        <span class="post-meta">@post.AddedDate.ToString("MMM dd, yyyy")</span>
        <a class="post-link" href="@post.Url/index.html">@post.Title</a>
    </li>
}
</ul>
